@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "din";
  src: url("../Fonts/D-DINCondensed-Bold_0.otf");
}
@font-face {
  font-family: "gotham-bold";
  src: url("../Fonts/Gotham-Bold_6.otf");
}

@font-face {
  font-family: "gotham-book";
  src: "../Fonts/Gotham-Book_C.otf";
}

@font-face {
  font-family: "gotham-light";
  src: url("../Fonts/Gotham-Light_4.otf");
}

@font-face {
  font-family: "gotham-medium";
  src: url("../Fonts/Gotham-Medium_5.otf");
}

@font-face {
  font-family: "high-voltage";
  src: url("../Fonts/HighVoltage\ Rough.otf");
}

@font-face {
  font-family: "bebasar-bold";
  src: url("../Fonts/BebasAR-Bold.otf");
}

@font-face {
  font-family: "helvetica-neue-arabic-bold";
  src: url("../Fonts/helvetica-neue-lt-arabic-75-bold.otf");
}

@font-face {
  font-family: "helvetica-neue-arabic-roman";
  src: url("../Fonts/HelveticaNeueLTArabic-Roman.otf");
}



@layer components {
  body {
    @apply bg-[#383838] overflow-x-hidden overflow-y-scroll;
  }

  .navbar_heading {
    @apply flex h-[60px] w-full items-center;
  }

  .navbar_heading ul {
    @apply flex items-center justify-center 
    w-[80px] bg-white rounded-full pt-1 pb-1 shadow-xl;
  }

  .navbar_heading li {
    @apply mr-1 ml-1 cursor-pointer font-high-voltage text-lg tracking-tighter;
  }

  .navbar_heading .divider {
    @apply text-xs;
  }

  .navbar_heading .active {
    @apply text-[#002E6D] cursor-pointer font-bold underline;
  }

  .navbar_heading .inactive {
    @apply text-gray-600 font-normal cursor-not-allowed;
  }

  .container {
    @apply max-w-[1100px] float-none mx-auto
    sm:w-full shadow-white;
  }

  .section__heading {
    @apply uppercase text-white 
    font-din  
    pt-10 pl-5 md:pl-10
     text-3xl md:text-[2.6rem]  leading-[1];
  }

  .section__heading_ar {
    @apply uppercase text-white
    text-right pt-10 pr-10
    md:text-left pt-10 pl-5
    font-bebasar-bold  
     md:pl-10
     text-3xl md:text-[2.6rem]  leading-[1];
  }

  /* hero section */

  /* hero section */


  .mySwiper {
    @apply min-h-[380px] 
      flex  justify-center items-center text-center
  }
  .mySwiper .swiper-wrapper {
    @apply pt-[2%]
    
  }

  .mySwiper .swiper-slide {
    @apply flex flex-col  items-center 
  }

  

 

   .mySwiper .swiper-pagination-bullet {
    @apply bg-[#797979] transition-all;
  }

  .mySwiper .swiper-pagination-bullet:hover {
    @apply w-[12px] h-[12px] bg-[#797979];
  }

  .mySwiper .swiper-pagination-bullet-active {
    @apply w-[12px] h-[12px] bg-[#797979];
  }

  .mySwiper .swiper-pagination {
    @apply flex flex-row justify-center items-center
    mt-[5%] mb-[2%] ;
  }

  .mySwiper .slide__area{
    @apply flex flex-col  rounded-full w-[280px] h-[280px] 
    items-center mt-[30px]
    bg-[#ec6558] 
    md:bg-[#ec6558]/0  md:hover:bg-[#ec6558] hover:shadow-black hover:md:shadow-2xl  transition-all 
    duration-500 ease-in-out
    

  }
/* active class */
  .mySwiper .active {
    @apply  rounded-full bg-[#ec6558] hover:shadow-black hover:md:shadow-2xl  transition-all 
    duration-500 ease-in-out
  }

  .mySwiper .active .slide__heading, 
  .mySwiper .active .slide__weight,
  .mySwiper .active .slide__desc
   {
    @apply  md:visible 
  }

  .mySwiper .active .slide__heading_ar, 
  .mySwiper .active .slide__weight_ar,
  .mySwiper .active .slide__desc_ar
   {
    @apply  md:visible 
  }
    .mySwiper .active img{
    @apply scale-100
  }
  /* active class */



  .mySwiper .image {
    @apply w-[80%]
    duration-500 ease-in-out transform
  }
  
  .mySwiper .slide__heading {
    @apply font-gotham-bold uppercase text-white text-lg mb-4 mt-[-30px]
    
  }
  .mySwiper .slide__heading_ar {
    @apply font-helvetica-neue-arabic-roman uppercase text-white 
    text-lg mb-4 mt-[-30px] 
  }

  .mySwiper .slide__weight {
    @apply font-gotham-bold uppercase text-white mb-2  text-lg
  }

  .mySwiper .slide__weight_ar {
    @apply font-helvetica-neue-arabic-bold uppercase text-white mb-2  text-lg
  }

  .mySwiper .slide__desc {
    @apply font-gotham-book uppercase text-white mb-4 mt-5 text-sm
  }

  .mySwiper .slide__desc_ar {
    @apply font-helvetica-neue-arabic-roman uppercase text-white mb-4 mt-5 text-lg
  }

  .slide__heading_ar{
    direction: ltr !important;
  }
  
  .mySwiper .swiper-button-prev {
    @apply text-white 
  }

  .mySwiper .swiper-button-next {
    @apply text-white 
  }
/*
  /* .mySwiper .swiper-slide-active {
    @apply h-[250px]  rounded-[50%] bg-[#ec6558];
  } */



  /* how to cook */

  .howtocook_bg {
    @apply 
    max-w-[220px] md:max-w-[400px] lg:max-w-[520px]
    ml-[0%] mt-[5%]
    md:ml-[3%] md:mt-[-1%]
    animate-[wiggle_1s_ease-in-out_infinite]
  }
  .cooking_video {
    @apply  max-w-[85%] md:w-[430px] md:max-w-[90%] 
    ml-6 md:ml-0 lg:ml-8 mb-6
   
  }

  /* how  to cook */



  /* footer ar */
  .footer__left__ar {   
    @apply relative  md:pb-10 
  } 
  .footer__right__ar{
    @apply text-white flex flex-row md:flex-col 
    justify-evenly md:justify-center 
    items-center 
    pl-0 pt-3 pb-3 md:pt-0 md:pb-0 md:pl-40
  }
  .footer__left__bg__ar {
    @apply  w-full md:w-[70%] overflow-x-visible relative 
    rounded-none rounded-bl-2xl  md:rounded-bl-[2.5rem]
    bg-gradient-to-tr from-[#191919]/20 via-[#191919]/70 to-[#191919]
  }

  .footer__right__bg__ar {
    @apply w-full md:w-[30%]  overflow-x-visible 
    rounded-none  md:rounded-br-[2.5rem]
    md:basis-45 bg-gradient-to-r from-[#ec6558]/90 via-[#ec6558]/75 to-[#ec6558]
  }

  .social__bg__image__ar{
    @apply  relative mt-4 mb-4 ml-8
    md:mt-[-65%]  md:ml-[50%] lg:mt-[-60%]  lg:ml-[40%]
    w-[85%] md:min-w-[110%] lg:min-w-[120%]

  }

.social__handles__ar {
  @apply flex  flex-row md:flex-col
  justify-evenly pl-12 pt-[20%]
}
  .social__handles__ar div {
    @apply text-white font-gotham-book text-xl 
    mb-0 md:mb-14 hover:cursor-pointer
  
  }

  .social__handles__ar span {
    @apply hidden md:block
  }


  .social__icon__ar {
    @apply flex justify-start items-end
  }

  .social__icon__ar img {
    @apply w-[40px] mr-2
  }

  /* footer ar */




  /* footer */  
  
  


  .footer__left {   
    @apply relative  md:pb-10
  } 
  .footer__right{
    @apply text-white flex flex-row md:flex-col 
    justify-evenly md:justify-center 
    items-center 
    pl-0 pt-3 pb-3 md:pt-0 md:pb-0 md:pl-40
  }
  .footer__left__bg {
    @apply  w-full md:w-[70%] overflow-x-visible relative 
    rounded-none rounded-bl-2xl  md:rounded-bl-[2.5rem]
    bg-gradient-to-tr from-[#191919]/20 via-[#191919]/70 to-[#191919]
  }

  .footer__right__bg {
    @apply w-full md:w-[30%]  overflow-x-visible 
    rounded-none  md:rounded-br-[2.5rem]
    md:basis-45 bg-gradient-to-r from-[#ec6558]/90 via-[#ec6558]/75 to-[#ec6558]
  }

  .social__bg__image{
    @apply  mt-4 mb-4 md:mt-10 relative ml-8 w-[85%] md:min-w-[120%]
  }

.social__handles {
  @apply flex  flex-row md:flex-col
  justify-evenly
}
  .social__handles div {
    @apply text-white font-gotham-book text-xl 
    mb-0 md:mb-14 hover:cursor-pointer
  
  }

  .social__handles span {
    @apply hidden md:block
  }


  .social__icon {
    @apply flex justify-start items-end
  }

  .social__icon img {
    @apply w-[40px] mr-2
  }

  
  /* footer */


  /* cooking steps */

  .cooking_steps__bg__image{
    @apply  mt-0 mb-4 md:mt-[-20px] ml-12 w-[95%] z-50 md:min-w-[135%]
  }

  .steps__block {
    @apply block md:relative h-auto 
  }

  .steps{
    @apply flex flex-row mb-5 pr-4 md:pr-0  align-middle
  
  }

  .steps br {
    @apply hidden md:block
  }

  

  .steps .steps__desc {
    @apply uppercase text-white font-gotham-bold text-sm
  }

  


  .steps__block .step__1 {
    @apply 
    md:absolute 
    mt-6 ml-5
    md:mt-[16%] md:left-[7%]
  }

  /* arabic css */

  .steps__block .step__ar {
    @apply 
    md:absolute
    flex  justify-end md:justify-start
    mt-6 ml-0 
    md:mt-[16%] md:left-[7%]
  } 

  

  .steps .steps__desc_ar {
    @apply uppercase text-white text-right  flex items-center pr-2
    font-helvetica-neue-arabic-bold text-sm md:text-sm lg:text-lg
  }

  

  /* arabic css */

  .steps__block .step__1 .steps__desc {
    @apply pt-6 md:pt-4
  }

  .steps .step1__img {
    @apply 
    w-[70px] min-w-[70px]  
    md:w-[85px] mr-2 md:mr-0
  }


  .steps__block .step__2 {
    @apply 
    md:absolute 
    mt-6 ml-4
    md:mt-[38%] md:left-[24%]
  }

  .steps__block .step__2 .steps__desc {
    @apply pt-4 md:pt-0
  }

  .steps .step2__img {
    @apply 
    w-[70px] min-w-[70px]   
    md:w-[72px] mr-2 md:mr-3
  }


  .steps__block .step__3 {
    @apply 
    md:absolute
    mt-6 ml-4
    md:mt-[58%] md:left-[24%]
  }

  .steps__block .step__3 .steps__desc {
    @apply pt-1 md:pt-0
  }

  .steps .step3__img {
    @apply 
    w-[70px] min-w-[70px]  
    md:w-[76px] mr-2 md:mr-3
  }

  .steps__block .step__4 {
    @apply 
    md:absolute
    mt-6 ml-4 
    md:mt-[78%] md:left-[7%]
  }

  .steps__block .step__4 .steps__desc {
    @apply pt-6 md:pt-3
  }

  .steps .step4__img {
    @apply 
    w-[70px] min-w-[70px]   
    md:w-[75px] mr-2
  }
  

  .cooking__description{
    @apply text-[#888] font-gotham-light text-xs 
    md:mt-[95%] 
    ml-6 mb-6 pr-9
    md:ml-6 md:mb-6 md:pr-6
  }

  .cooking__description_ar{
    @apply text-[#888] font-helvetica-neue-arabic-roman
     text-xs text-right
    md:mt-[95%] 
    ml-6 mb-6 pr-9
    md:ml-6 md:mb-6 md:pr-6
  }

  .cooking__description br{
    @apply hidden md:block
  }

  /* cooking steps */
 


  

 
 
}
