@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "din";
  src: url("../Fonts/D-DINCondensed-Bold_0.otf");
}
@font-face {
  font-family: "gotham-bold";
  src: url("../Fonts/Gotham-Bold_6.otf");
}

@font-face {
  font-family: "gotham-book";
  src: "../Fonts/Gotham-Book_C.otf";
}

@font-face {
  font-family: "gotham-light";
  src: url("../Fonts/Gotham-Light_4.otf");
}

@font-face {
  font-family: "gotham-medium";
  src: url("../Fonts/Gotham-Medium_5.otf");
}

@font-face {
  font-family: "high-voltage";
  src: url("../Fonts/HighVoltage\ Rough.otf");
}

.alice-carousel__dots-item __active {
  width: 10px !important;
  height: 10px !important;
}

@layer components {
  body {
    @apply bg-[#383838];
  }

  .navbar_heading {
    @apply flex h-[60px] w-full items-center;
  }

  .navbar_heading ul {
    @apply flex items-center justify-center 
    w-[80px] bg-white rounded-full pt-1 pb-1 shadow-xl;
  }

  .navbar_heading li {
    @apply mr-1 ml-1 cursor-pointer font-high-voltage text-lg tracking-tighter;
  }

  .navbar_heading .divider {
    @apply text-xs;
  }

  .navbar_heading .active {
    @apply text-[#002E6D] cursor-pointer font-bold underline;
  }

  .navbar_heading .inactive {
    @apply text-gray-600 font-normal cursor-not-allowed;
  }

  .container {
    @apply max-w-[1100px] float-none mx-auto
    sm:w-full shadow-white;
  }

  .section__heading {
    @apply uppercase text-white font-din  pt-10 pl-5 md:pl-10
     text-3xl md:text-[2.6rem]  leading-[1];
  }

  /* hero section */

  /* hero section */
}
